:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-toolbar {
    background-color: #85b780;
}

mat-drawer-container {
    flex: 1;
    background-color: transparent
}

mat-drawer {
    background-color: #aacca7;
    border-radius: 0 0 0 0;
}

mat-drawer-content {
    padding: 5px;
}

