<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="food-details">
        <h3>Food Details</h3>

        <mat-form-field>
            <mat-label>Food Name</mat-label>
            <input matInput formControlName="name" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Brand Name (Optional)</mat-label>
            <input matInput formControlName="brand" type="text">
        </mat-form-field>
    </div>
    
    <div class="nutritional-info">
        <h3>Nutritional Information</h3>

        <mat-form-field>
            <mat-label>Proteins (g)</mat-label>
            <input matInput formControlName="protein" type="number" min="0">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Carbohydrates (g)</mat-label>
            <input matInput formControlName="carbohydrate" type="number"min="0">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fats (g)</mat-label>
            <input matInput formControlName="fat" type="number"min="0">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fibers (g)</mat-label>
            <input matInput formControlName="fiber" type="number"min="0">
        </mat-form-field>
    </div>

    <div class="units">
     <h3>Units (Optional)</h3>
        <div formArrayName="units" >
            @for (unit of units.controls; track unit) {
                <div [formGroupName]="$index" class="unit">
                    <mat-form-field>
                        <mat-label>Unit Name</mat-label>
                        <input matInput formControlName="name" type="text">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Weight (g)</mat-label>
                        <input matInput formControlName="weight" type="number">
                    </mat-form-field>

                    <button mat-icon-button type="button" (click)="removeUnit($index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            } @empty {
                <p>Add a unit to have more options when adding meals!</p>
            }
        </div>

        <button mat-raised-button type="button" (click)="addUnit()">Add Unit</button>    
    </div>
    <button mat-raised-button type="submit" [disabled]="form.invalid">Add Food</button>
</form>