:host {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.filter-panel {
    width: 250px;
    background-color: #d7e4de;
    border-radius: 8px;
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 5x;
}

.search-section {
    display: flex;
    flex-direction: row;
}

mat-form-field {
    padding-right: 5px;
    flex: 1;
}

.custom-action-btn {
  height: 56px;
  background-color: #e8eaf6;
  border: none;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #666;
  padding: 16px;
  cursor: pointer;
  font-family: inherit;
  color: #333;
  transition: background-color 0.2s;
  margin-right: 5px;
}

.custom-action-btn:hover {
  background-color: rgb(208, 209, 216);
}



/* Mobile styles */

.search-section.is-mobile {
    flex-wrap: wrap;
}

.search-section.is-mobile .search-field {
    width: 100%;
    flex: 1 1 100%;
}

.meals {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.meals.is-mobile {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}


.meal-panel {
    background-color: #d7e4de;
}




/**
*   Skeleton loading styles
*/

.skeleton-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    gap: 10px;
}

.skeleton-img {
  width: 100%;
  aspect-ratio: 4 / 3; 
  object-fit: cover;
  display: block;
}

.skeleton-text {
    width: 70%;
    height: 16px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton-img, .skeleton-text {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

