@let isMobile = (layoutService.isHandset$ | async);

<div class="container" [formGroup]="filters">
    
    @if (!(isMobile)) {
        <div class="filter-panel">
            <app-filter-panel
                [filters]="filters"
            />
        </div>
    }

    <main class="content">
        <section class="search-section" [class.is-mobile]="isMobile">
            <mat-form-field class="search-field">
                <mat-label>{{ 'HOME_PAGE.SEARCH_PLACEHOLDER' | translate }}</mat-label>
                    <input matInput type="text" formControlName="name">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'HOME_PAGE.SORT_BY' | translate }}</mat-label>
                <mat-select formControlName="sortValue">
                    <mat-select-trigger>
                        {{ 'SORT_VALUES.' + filters.controls.sortValue.value | translate }}
                    </mat-select-trigger>
                    @for (option of sortOptions; track option) {
                        <mat-option [value]="option">{{ 'SORT_VALUES.' + option | translate }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <button mat-icon-button type="button" (click)="toggleDirection()" class="custom-action-btn">
                <mat-icon>
                    {{ filters.controls.sortDirection.value === 'ASC' ? 'arrow_upward' : 'arrow_downward' }}
                </mat-icon>
            </button>

            @if (isMobile) {
                <button mat-icon-button type="button" (click)="openFilters()" class="custom-action-btn">
                    {{ 'HOME_PAGE.FILTERS_BUTTON' | translate }} 
                    <mat-icon>tune</mat-icon>
                </button>
            }
        </section>

        <div class="meals" [class.is-mobile]="isMobile">
            @if (meals$ | async; as meals) {
                @for (meal of meals; track meal.id) {
                    <app-meal-card 
                        [meal]="meal" 
                        (selected)="mealSelected($event, isMobile)"
                    />
                } @empty {
                    <p>{{ 'HOME_PAGE.NO_RESULTS' | translate }}</p>
                }
            } @else {
                @for (i of [].constructor(16); track $index) {
                    <div class="skeleton-card">
                        <div class="skeleton-img"></div>
                        <div class="skeleton-text"></div>
                    </div>
                }
            }
        </div>
    </main>
</div>

@if (!(isMobile)) {
    <app-closable-panel 
        (close)="closeMealPanel()" 
        [buttonDisabled]="!meal"
        class="meal-panel"
        >
        <app-meal-panel 
            [meal]="meal" 
        />
    </app-closable-panel>
}

